In [74]:
import pandas as pd
import os
import re
import string as st
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
from nltk.tokenize import sent_tokenize
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory
import nltk

In [87]:
path = '/Volumes/MAC HDD/Study/UMM/Semester 5/Fungsional/Twitter/TwitterSentimentAnalisyst/output_got.csv'
data = pd.read_csv(path)   
dataframe = pd.DataFrame(data, columns= ['text','date'])
dataframe

                                                   text                 date
0     @ummcampus ngadain Kompetisi Karya Kreatif, al...  2019-12-18 08:42:09
1     Banyak banget agenda dari @ummcampus yang dise...  2019-12-18 08:28:37
2     Jadi anak bola dulu aja, gitu tahapannya dik w...  2019-12-16 21:53:03
3     Berbicara HAM berarti kebebasan berekspresi ko...  2019-12-16 16:46:40
4         Aku mau main, tapi ga boleh loh....wkwkwkwkwk  2019-12-16 13:27:12
...                                                 ...                  ...
2995  Melalui Prodi Kehutanan Fakultas Pertanian dan...  2019-02-25 07:15:20
2996                   Bukannya itu yg kamu mau? Wkwkwk  2019-02-25 02:35:41
2997                  Duhh jadi takut famous wkwkkwkwkw  2019-02-25 02:33:28
2998                       Dibaliho depan kampus wkwkwk  2019-02-25 02:31:06
2999             Tinggal nunggu direkrut berarti hahaha  2019-02-25 02:30:15

[3000 rows x 2 columns]

In [107]:
def preprocessing_tweets(tweets):
    lower = tweets.lower()
    cleaned_uri = re.sub(r'(?i)\b((?:https?://|www\d{0,3}[.]|[a-z0-9.\-]+[.][a-z]{2,4}/)(?:[^\s()<>]+|\(([^\s()<>]+|(\([^\s()<>]+\)))*\))+(?:\(([^\s()<>]+|(\([^\s()<>]+\)))*\)|[^\s`!()\[\]{};:\'".,<>?«»“”‘’]))', '', lower)
    cleaned_user = re.sub(r'@\w+', '', cleaned_uri)
    cleaned_hashtag = re.sub(r'#\w+', '', cleaned_user)
    cleaned_number = re.sub(r'\d+', '', cleaned_hashtag)
    cleaned_punc = cleaned_number.translate(str.maketrans("","",st.punctuation))
    empty_spaced = cleaned_punc.replace('\n','').strip()
    factory = StemmerFactory()
    stemmer = factory.create_stemmer()
    steamed = stemmer.stem(empty_spaced)
    factory = StopWordRemoverFactory()
    stopword = factory.create_stop_word_remover()
    cleaned_tweets = stopword.remove(steamed)
    return cleaned_tweets

In [ ]:
dataframe['cleaned_tweets'] = dataframe['text'].apply(preprocessing_tweets)
dataframe = dataframe.drop_duplicates(subset="cleaned_tweets", inplace=False)

In [ ]:
from nltk.tokenize import word_tokenize
dataframe = dataframe[dataframe['cleaned_tweets'] != ""]
dataframe['len'] = [len(x) for x in dataframe.text]

In [ ]:
dataframe

In [ ]:
export_csv = dataframe.to_csv(r'/Volumes/MAC HDD/Study/UMM/Semester 5/Fungsional/Twitter/TwitterSentimentAnalisyst/umm_cleaned_2.csv', index = None, header=True)

In [ ]:
dataframe